<!-- your_app/templates/why.html -->
{% extends "base.html" %}
{% load static %}
{% block content %}
<style>
  body {
    background: url('{% static "info/images/background_solid.jpg" %}') no-repeat center center fixed;
    background-size: cover;
  }
  .why-us-section {
    text-align: left;
    background-color: #050A30;
    position: relative;
  }
  .why-us-section .content {
    padding: 5px 50px;
  }
  .why-us-section ul {
    list-style-type: disc;
    margin-left: 40px;
    line-height: 1.8;
    margin-bottom: 0px;
  }
  .why-us-section ul li {
    margin-bottom: 10px;
  }
  .why-us-section ul li strong {
    color: #1E90FF;
  }
  .image-container {
    position: relative;
    width: 100%;
  }
  .car-image {
    width: 100%;
    display: block;
    height: auto;
  }
  .price-inquiry {
    position: absolute;
    bottom: 100px;
    right: 40px;
    z-index: 10;
  }
  .price-inquiry button {
    background-color: #FFFFFF;
    color: #0D1A37;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s, box-shadow 0.2s;
  }
  .price-inquiry button:hover {
    background-color: #CCCCCC;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
  }

  @media (max-width: 768px) {
    .why-us-section .content {
      padding: 20px;
    }
    .price-inquiry {
      position: static; /* So it doesn't overflow on small screens */
      margin-top: 20px;
      text-align: center;
    }
    .price-inquiry button {
      border-radius: 5px;
      padding: 10px 20px;
      font-size: 16px;
    }
  }
</style>

{% comment %} <div style="padding: 20px;">
  <h1>WHY US</h1>
</div> {% endcomment %}

<div class="why-us-section">
  <ul class="content">
    <li>Our commitment to <strong>reliability, transparency</strong>, and customer <strong>satisfaction</strong> sets us apart. With a proven track record
      in international logistics and a team that goes the extra mile, we’re your ideal choice for global shipping solutions.</li>
    <li>Consulting and planning tailored, efficient solutions for transporting your goods, backed by 39 years of proven
      expertise.</li>
    <li>Providing step-by-step reporting with precision and transparency throughout the entire transportation process,
      from start to final delivery.</li>
    <li>Preparing and delivering all necessary documents (e.g., D/O, Warehouse Receipt, B/L, etc.) directly to your location
      promptly and efficiently.</li>
  </ul>
  <div class="image-container">
    <img src="{% static 'info/images/team.jpg' %}" alt="Car" class="car-image">
    <div class="price-inquiry">
      <button onclick="window.location.href='/price-inquiry'">Price inquiry</button>
    </div>
  </div>
</div>
{% endblock content %}
