# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.swp
*.swo
*.swn

# Virtual Environment
venv/
.env/
.envrc
*.venv
Pipfile
Pipfile.lock

# Django-specific
*.log
db.sqlite3
media/
staticfiles/
*.bak

# Django migrations (optional, if you want to regenerate them)
**/migrations/*.pyc
**/migrations/*.py

# Environment Variables
.env
.env.local
.env.production
.env.development

# IDE and Editor files
.vscode/
.idea/
*.iml

# System files
.DS_Store
Thumbs.db

# Node.js related (if using npm/yarn for frontend)
node_modules/
package-lock.json
yarn.lock

# Celery
celerybeat-schedule

# Coverage reports
.coverage
htmlcov/
