annotated-types==0.7.0
anyio==4.8.0
asgiref==3.7.2
certifi==2023.11.17
charset-normalizer==3.3.2
cryptography==41.0.7
Django==5.0.1
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
idna==3.6
oauthlib==3.2.2
pillow==10.2.0
pydantic==2.10.6
pydantic_core==2.27.2
PyJWT==2.8.0
python-dateutil==2.9.0.post0
python-decouple==3.8
pytz==2023.3.post1
requests==2.31.0
sqlparse==0.4.4
typing_extensions==4.12.2
urllib3==2.1.0
websockets==14.2